@import "tailwindcss";

@theme {
  --color-navy-900: #0f172a;
  --color-navy-800: #1e3a8a;
  --color-navy-700: #1d4ed8;
  --color-navy-600: #2563eb;
  --color-navy-500: #3b82f6;
}

body {
  @apply bg-gray-50 text-gray-900 antialiased;
}
